language: go

notifications:
  email: false

env:
  global:
    - secure: "CqZgr8af6Mps2P+YnQhfJmNSWq3TwKjMtctqcP4FW3x0vSdKXXN5PSHY0q7oK4zjlh0SQVafMjTL54hXQD+1ixQn/7OLlUJccnaVTXXyO2miWYuOmiz1h3RQd5mbMCIyHdnlUQIJha0GBbRTkQPgmWNwoG5tLxRKsPmEdOrGcMM="
    - PATH=$HOME/gopath/bin:$PATH

before_install:
  - go get golang.org/x/tools/cmd/cover
  - go get golang.org/x/tools/cmd/goimports
  - go get golang.org/x/tools/cmd/vet
  - go get github.com/golang/lint/golint
  - go get github.com/mattn/goveralls

install:
  - go get ./...

before_script:
  - wget https://gist.github.com/mewmew/379014c9a2e6885e238d/raw/goclean.sh
  - chmod +x goclean.sh

script:
  - ./goclean.sh
